<% layout("/layouts/boilarplate") %>
<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3><b><%= listing.title %></b></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <%= listing.description %> <br>
                &#8377; <%= listing.price %> <br>
                <%= listing.location %> <br>
                <%= listing.country %> <br>
            </p>
        </div>
    </div>
</div>

<div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" novalidate class="needs-validation">
        <button class="btn btn-dark offset-5">Delete</button>
    </form> 
</div>
<br>

<div class="col-8 offset-3 mb-3 mt-3">
    <h4>Leave a Review</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="post">
        <div class="mt-3 mb-3">
            <label for="rating" class="from-label">Rating</label>
            <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]" required>
        </div>
        <div class="mt-3 mb-3">
            <label for="comment" class="from-label">Comment</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please submit some comments for the review</div>
        </div>
        <input type="hidden" name="review[author]" value="author-id"> <!-- Replace with actual user ID if available -->
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr>

    <!-- <h2>Reviews</h2>
    <ul>
      <% listing.reviews.forEach(review => { %>
        <li>
          <strong>Rating:</strong> <%= review.rating %> <br>
          <strong>Comment:</strong> <%= review.comment %>
        </li>
      <% }) %>
    </ul> -->
  <p><b>All Reviews</b></p>
  <div class="row">
    <% for(review of listing.reviews){ %>
        <div class="card col-5 ms-3 mb-3">
        <h5 class="card-title">jane doe</h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %> stars</p>
        </div>
    <% } %>
</div>